{% extends 'base.html' %}

{% block body %}

<div class="mt-4 container-fluid1"><br>
    <h4><b><i class="bi bi-kanban"></i> サービスに登録しているユーザー</b></h4>
    <br>
    <div class="grid">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>

              <th scope="col">ユーザー名</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users %}
            <tr>
              <th scope="row">{{ user.id }}</th>

              <td>{{ user.username }}</td>
              <td><a data-bs-toggle="modal" href="#exampleModalToggle{{user.id}}"><button class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></button></a></td>
                <div class="modal fade" id="exampleModalToggle{{user.id}}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">ユーザーの消去</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            以下のユーザーを消去しようとしています。 確認してください。<br>
                              <hr>
                                  <p><b>{{ user.username }}</b></p>
                              <hr>
                              <p class="text-danger">確認事項: 一度消去すると元に戻せません。</p>
                          </div>
                          <div class="modal-footer">
                              <a href="/front/user/debug/delete/{{ user.id }}"><button class="btn btn-danger" data-bs-target="#exampleModalToggle2">理解した上で消去する</button></a>
                          </div>
                        </div>
                      </div>
                </div>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<style>
.item {
  letter-spacing: 1.5px;
  border-radius: 10px;
  background: rgb(252, 252, 252);
  box-shadow: 0 2px 3px rgba(19, 19, 19, 0.26);
  padding: 10px;
  text-align: center;
}
.item img {
  border-radius: 10px;
  width:100%;
  height:230px;
  object-fit: cover;
}
p {
  text-align: left;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    margin-bottom: 150px;
}
</style>

{% endblock %}
