{% extends 'base.html' %}

{% block body %}
<div class="container-fluid1"><br>
<div class="c-f">
    <h4><b><i class="bi bi-pencil-square"></i> プロフィール編集</b></h4>
    <br>

    <div class="d-grid gap-2">
        <form method="POST" enctype="multipart/form-data" autocomplete="off">

          <p style="color:#7CE0E7;">アイコンの設定 (JPG)</p>
          <label style="display:flex;justify-content:center;">
            <input type="file" accept="image/jpeg" onchange="previewImage(this);" style="display:none;" name="userIcon">
            <div class="box">
            <img 
              id="preview" 
              style="
                max-width: 100%; 
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 50%;
                border: dashed rgb(238, 238, 238) 3.5px;
              "
            >
            <h2 class="center"><i class="bi bi-camera-fill"></i></h2>
            </div>
          </label><br>
          <p style="color:#7CE0E7;">概要</p>
          <textarea style="-webkit-box-shadow:0px 1px 2px 1px rgb(241, 241, 241);box-shadow:0px 1px 2px 1px rgb(241, 241, 241); resize:none;" class="gamma_input" name="postUserDetail" placeholder="あなたについて書いてください！" id="floatingTextarea2"  style="resize:none;height:150px"></textarea>
          <br><br>

          <div class="mt-5 d-grid gap-2 col-6 mx-auto" style="text-align:center;">
            <button type="submit" class="btn pil" style="color:rgb(241, 241, 241);background:#7CE0E7;">保存する</button>
          </div>

        </form>
    </div>

</div>
</div>
    <style>
        .container-fluid {
            margin-right: auto;
            margin-left: auto;
            max-width: 900px;
            margin-bottom: 150px; 
        }
        @media screen and (max-width: 700px) {
        .c-f {
            padding: 20px;
            border-radius: 0px;
        }
        }
        td {
            vertical-align: top;
        }
        .box{
            position: relative;
        }
        .center {
            position: absolute;
            top: 85%;
            left: 80%;
            transform: translate(-50%, -50%);
            color:rgba(0, 0, 0, 0.513);
        }
    </style>
    <script>
      function previewImage(obj){
    var fileReader = new FileReader();
    fileReader.onload = (function() {
      document.getElementById('preview').src = fileReader.result;
    });
    fileReader.readAsDataURL(obj.files[0]);
  }
    </script>
{% endblock %}
